<%= render 'shared/header' %>
<%= render 'shared/nav' %>  


<div class="container">
  <div class="row">
    <div class="span12"> 
      
      <div class="hero-unit">
        <div class="page-header">
          <h2>Services</h2>
        </div>
        <p>BH Couriers offer the following services...</p>
      </div>
      
    </div>
  </div>
</div>

<%= render 'shared/footer' %>  