<%= render 'shared/header' %>
<%= render 'shared/nav' %>  


<div class="container">
  <div class="row">
    <div class="span12"> 

      <div class="hero-unit">
        <div class="page-header">
          <h2>Contact Us</h2>
        </div>
        
        <div>
          <h3>Email:</h3>
          <h6>General enquiries:</h6>
          <a href="mailto:info@bhcouriers.co.uk">info@bhcouriers.co.uk</a>
          <h6>Or email a particular member of staff:</h6>
          <a href="mailto:richard@bhcouriers.co.uk">richard@bhcouriers.co.uk</a>
        </div>
        <br/>
      
        <div>
          <h3>Telephone:</h3>
          <h6>General enquiries:</h6>
          <p>01325 666666</p>
          <h6>Or call a particular member of staff:</h6>
          <p>Richard: 07970 813770</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<%= render 'shared/footer' %>  