<div class="container">
  <div class="row">
    <div class="span12"> 
      <div class="hero-unit">
        <div class="main-logo">
          <h1>BH Couriers  <small> For all of your storage and delivery needs.</h1>
        </div>
      </div>
    </div>
  </div>
</div>

