<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Admin</li>
        <li> <a href="/pages/1/edit">Home</a> </li>
        <li> <a href="/pages/2/edit">Services</a> </li>
        <li> <a href="/pages/3/edit">About Us</a> </li>
        <li> <a href="/pages/4/edit">Testimonials</a> </li>
        <li> <a href="/pages/5/edit">Contact Us</a> </li>
    </ul>
  </div>
</div>

<!--<li class="<%= 'active' if params[:controller] == 'home' %>"> <a href="/pages/1/edit">Home</a> </li>-->

