<%= render 'shared/header' %>
<%= render 'shared/nav' %>  

<div class="container">
  <div class="row">
    <div class="span12"> 
         
      <div class="hero-unit">
        <div class="page-header">
          <h1><small>New website, coming soon...</small></h1>
        </div>
      </div>      
      
    </div>
  </div>
</div>

<%= render 'shared/footer' %>  