<div class='row'>
  <div class='span6'>
    <fieldset>
    
      <div class="control-group">
        <%= f.label :paragraph_1, "Paragraph 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_1 %>
        </div>
      </div>
      
    </fieldset>
  </div>
</div>