<div class='row'>
  <div class='span8'>
  
    <h2>Edit - Testimonials Page</h2>
    <br/>
    
    <fieldset>
    
      <div class="control-group">
        <%= f.label :page_header, "Page Header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
      
      <% @testimonials.each do |testimonial| %>
        <%= f.fields_for testimonial do |builder| %>
          <%= render 'testimonial_fields', :f => builder %>
        <% end %>
      <% end %>
            
    </fieldset>
    
  </div>
</div>