<%= render 'shared/header' %>
<%= render 'shared/nav' %>  

<div class="container">
  <div class="row">
    <%= render 'shared/sidenav' %>  
    <div class="span9"> 

    
    </div>
  </div>
</div>

<%= render 'shared/footer' %>