<%= render 'shared/header' %>
<%= render 'shared/nav' %>  


<div class="container">
  <div class="row">
    <div class="span12"> 
      
      <div class="hero-unit">
        <div class="page-header">
          <h2>Testimonials</h2>
        </div>
        
        <h6>Jill, Darlington:</h6>
        <p>BH Couriers delivered my sofa and they were brill.  I'd definitely use them again!</p>      
        <br/>      
        <br/>

        <h6>Sarah, London:</h6>
        <p>BH Couriers are very reliable and delivered my parcel on time.</p>   
        <br/>
        <br/>
    
        <h6>Adam, Edinburgh:</h6>
        <p>BH Couriers are very polite and reliable.</p>   
        <br/>
        <br/>


      </div>
      
    </div>
  </div>
</div>


<%= render 'shared/footer' %>  